<html style="text-align:center; font-family:copperplate; background-image:url(http://www.fonstola.ru/pic/201309/1600x900/fonstola.ru-122165.jpg)"></html>

<h1>GAME OVER!</h1>

<form action="/">
    <input type="submit" value="Start new game">
</form>
